<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aliyanaresorts.aliyanahotelresorts">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".service.database.AppController"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppThemeGold"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".activity.MeetingActivity"
            android:parentActivityName=".activity.InfoHotelActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.BallroomActivity"
            android:parentActivityName=".activity.InfoHotelActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.RestoActivity"
            android:parentActivityName=".activity.InfoHotelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InfoHotelActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FasilitasDetailActivity"
            android:parentActivityName=".activity.FasilitasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PromoDetailActivity"
            android:parentActivityName=".activity.PromoListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PromoListActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FasilitasActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CropTheme" />
        <activity
            android:name=".activity.account.ProfilAccountActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.account.HelpAccountActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.account.VoucherAccountActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.account.PromoAccountActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DaftarActivity"
            android:parentActivityName=".activity.MasukActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.about.BugActivity"
            android:parentActivityName=".activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.about.EnquiryActivity"
            android:parentActivityName=".activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.about.DetailActivity"
            android:parentActivityName=".activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.about.VisiActivity"
            android:parentActivityName=".activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MasukActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BookingActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RoomDetailActivity"
            android:parentActivityName=".activity.RoomListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RoomListActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name=".service.firebase.MyFirebaseInstanceIdService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.firebase.MyFirebaseMessagingService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>