<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aliyanaresorts.aliyanahotelresorts">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".network.AppController"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppThemeGold"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".mainMenu.status.menu.detail.MyBookingDetailActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainMenu.home.booking.previewBooking.PreviewBookingActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainMenu.account.ProfilDetailActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainMenu.home.booking.roomsMenu.BookingListingActivity"
            android:parentActivityName=".mainMenu.home.booking.BookingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainMenu.home.info.BallroomDetailActivity"
            android:parentActivityName=".mainMenu.home.info.BallroomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainMenu.home.info.MeetingDetailActivity"
            android:parentActivityName=".mainMenu.home.info.MeetingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainMenu.home.info.MeetingActivity"
            android:parentActivityName=".mainMenu.home.info.InfoHotelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainMenu.home.info.BallroomActivity"
            android:parentActivityName=".mainMenu.home.info.InfoHotelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainMenu.home.info.resto.RestoActivity"
            android:parentActivityName=".mainMenu.home.info.InfoHotelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainMenu.home.info.InfoHotelActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainMenu.home.fasilitas.FasilitasDetailActivity"
            android:parentActivityName=".mainMenu.home.fasilitas.FasilitasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainMenu.home.promo.PromoDetailActivity"
            android:parentActivityName=".mainMenu.home.promo.PromoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainMenu.home.promo.PromoActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainMenu.home.fasilitas.FasilitasActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="www.aliyanaresorts.com"
                    android:pathPrefix="/#facilities" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CropTheme" />
        <activity
            android:name=".mainMenu.account.FotoProfilAccountActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainMenu.account.HelpAccountActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainMenu.account.VoucherAccountActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainMenu.account.PromoAccountActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DaftarActivity"
            android:parentActivityName=".MasukActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainMenu.home.about.EnquiryActivity"
            android:parentActivityName=".mainMenu.home.about.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainMenu.home.about.DetailActivity"
            android:parentActivityName=".mainMenu.home.about.AboutActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.aliyanaresorts.com"
                    android:path="/#contact" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainMenu.home.about.VisiActivity"
            android:parentActivityName=".mainMenu.home.about.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MasukActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainMenu.home.about.AboutActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.aliyanaresorts.com"
                    android:path="/#about-us" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainMenu.home.booking.BookingActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainMenu.home.rooms.RoomDetailActivity"
            android:parentActivityName=".mainMenu.home.rooms.RoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainMenu.home.rooms.RoomActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.aliyanaresorts.com"
                    android:path="/#rooms" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:resizeableActivity="false"
            android:supportsPictureInPicture="false"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.aliyanaresorts.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name=".firebase.MyFirebaseInstanceIdService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".firebase.MyFirebaseMessagingService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>